body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.pagina__familiafrutal{
    display: flex;
    flex-direction: column;
}


iframe{
    display: block;
    width: 100%;
    border: none;
}


.frame--header{
    width: 100%;
}

.frame--hero{
    height: 650px;
}