:root{
    /* colores */
    --color-fondo--header: #D9D9D9;
    --color-titulo--header: #000;
    --color-header--link: #000;

    /* Bordes */
    --border--header: 2px solid #000;

    /* tipografia */
    --font-family--primario: "inter", sans-serif;
    --font-size: 20px;
    --font-weight-bold: 700;
    --font-size--boton: 15px;







}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--color-fondo--header);
    border-bottom: var(--border--header);
    border-top: var(--border--header);
    border-left: var(--border--header);
    border-right: var(--border--header);
}

.header__contenedor {
    max-width: 1900px;
    margin: 0px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__logo{
    position: relative;
    top: 3px;
    left: 20px;
}
.header__titulo{
    color: var(--color-titulo--header);
    font-family: var(--font-family--primario);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    position: relative;
    top: -30px;
    left: 25px;
}

.header__marca{
    text-decoration: none;
    
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__lista{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.header__item{
    font-family: var(--font-family--primario);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
}

.header__link{
    text-decoration: none;
    color: var(--color-header--link);
    
}



.header__acciones{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__boton {
    font-family: var(--font-family--primario);
    font-size: var(--font-size--boton);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.header__boton--secundario {
    background-color: #ffffff;
    color: #111111;
    
    
}

.header__boton--primario {
    background-color: #111111;
    color: #ffffff;
    margin-right: 70px;
    
}