.hero {
    width: 100%;
    text-align: center;
}

.hero__imagen-contenedor {
    position: relative;
    display: inline-block;
}

.hero__imagen {
    display: block;
    width: 100%;
    height: auto;
}

.hero__friltro-imagen-hero {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.hero__contenido {
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translateY(-50% );
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__titulo {
    color: #0a0a0a;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
    padding: 12px 100px;
}

.hero__friltro-contenido{
    position: absolute;
    inset: 0;
    background-color: rgba(217, 217, 217, 0.78);
    border-radius: 26px;
    z-index: -1;
}

.hero__boton {
    display: inline-block;
    padding: 10px 28px;
    width: auto;
    background-color: #548b50;
    color: #d9ddda;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    transform: translateY(-8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero__boton:hover {
    background-color: #35a330;
    transform: translateY(-2px);
}

.hero__boton:active {
    transform: translateY(0);
}