
.categorias__titulo {
    text-align: var(--categorias-titulo-text-align);
    margin-top: var(--categorias-titulo-margin-top);
    font-size: var(--categorias-titulo-font-size);
    font-family: var(--categorias-titulo-font-family);
    font-weight: var(--categorias-titulo-font-weight-bold);
}

.categorias__contenedor {
    display: var(--categorias-contenedor-display);
    justify-content: var(--categorias-contenedor-justify);
    gap: var(--categorias-contenedor-gap);
}

.categorias__nombre {
    text-align: var(--categorias-nombre-text-align);
}

.categorias__item {
    text-decoration: var(--categorias-item-text-decoration);
    color: var(--categorias-item-color);
    font-size: var(--categorias-item-font-size);
    font-weight: var(--categorias-item-font-weight);
}