<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorias-productos</title> <link rel="stylesheet" href="/css/categorias-productos.css">
</head>
<body>
    <section class="categorias">
        <h2 class="categorias__titulo">Elige una categoría para empezar tu pedido</h2>

    <div class="categorias__contenedor">
    <article class="categorias__item">
        <img src="/imagenes/categorias-productos-frutas.png" alt="Frutas" class="categorias__imagen">
        <p class="categorias__nombre">Frutas</p>
    </article>

    <article class="categorias__item">
        <img src="/imagenes/categorias-productos-verduras.png" alt="Verduras" class="categorias__imagen">
        <p class="categorias__nombre">Verduras</p>
    </article>
</div>
</section>
</body>
</html>