<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiafrutal</title>
    <link rel="stylesheet" href="../css/familia-frutal.css">
</head>

<body>
    <!-- Encabezado principal de familia frutal-->
    <header class="header">
        <!--contenedor interno del header:
        agrupa el logo , menu de navegacion y los botones-->
        <div class="header__contenedor">
            <!--marca del sisito el logo y el nombre-->
            <a href="#" class="header__marca">
                <img src="/assets/logo imagen familia frutal.png" alt="logo_familia_frutal" class="header__logo">
                <span class="header__titulo">Familiafrutal</span>
            </a>
            <!--navegacion principal del sitio-->
            <nav class="header__nav" aria-label="Navegación principal">
                <ul class="header__lista">
                    <li class="header__item"><a href="#" class="header__link">Frutas</a></li>
                    <li class="header__item"><a href="#" class="header__link">Verduras</a></li>
                    <li class="header__item"><a href="#" class="header__link">Mis compras</a></li>
                    <li class="header__item"><a href="#" class="header__link">Carrito</a></li>
                </ul>
            </nav>
            <!-- Acciones del usuario
            boton secundario para iniciar sesion
            boton primario para registrarse-->
            <div class="header__acciones">
                <a href="#" class="header__boton header__boton--secundario">Iniciar sesion </a>
                <a href="#" class="header__boton header__boton--primario">Registrar</a>
            </div>
        </div>
    </header>

    <!-- hero-->
    <section class="hero">
        <div class="hero__imagen-contenedor">
            <img src="/assets/hero familia frutal.png" alt="Frutas y verduras frescas" class="hero__imagen">
            <div class="hero__filtro-imagen-contenedor"></div>
            <div class="hero__contenido">
                <h1 class="hero__titulo">"Pide tus frutas y verduras frescas online"</h1>
                <a href="#" class="hero__boton">Explorar productos</a>
                <div class="hero__filtro-contenido"></div>
            </div>
        </div>
    </section>

    <!-- categorias de productos-->
    <section class="categorias">
        <h2 class="categorias__titulo">Elige una categoría para empezar tu pedido</h2>

        <div class="categorias__contenedor">
            <a href="frutas.html" class="categorias__item">
                <img src="/assets/categorias-productos-frutas.png" alt="Frutas" class="categorias__imagen">
                <p class="categorias__nombre">Frutas</p>
            </a>


            <a href="verduras.html" class="categorias__item">
                <img src="/assets/categorias-productos-verduras.png" alt="Verduras" class="categorias__imagen">
                <p class="categorias__nombre">Verduras</p>
            </a>
        </div>
    </section>
    <section class="busqueda-productos">
        
        
        <div class="busqueda-productos__centro">
            <h2 class="busqueda-productos__titulo">Frutas y verduras más vendidas</h2>
            <div class="busqueda-productos__contenedor-barra">
                <form class="busqueda-productos__barra">
                    <img src="/assets/section de busqueda frutas y verduras mas vendidas.png" alt="Buscar"
                    class="busqueda-productos__icono">
                    <input type="text" class="busqueda-productos__input"
                    placeholder="Qué frutas o verduras necesitas..........">
                </form>
                
                <img src="/assets/section de frutas y verduras mas vendidas brocoli.png" alt="Brócoli"
                    class="busqueda-productos__imagen busqueda-productos__imagen--izquierda">
                <img src="/assets/sectioon de frutas y verduras mas vendidas coco.png" alt="Coco"
                    class="busqueda-productos__imagen busqueda-productos__imagen--derecha">
            </div>
            <div class="productos-destacados__lista">
                <article class="producto-card">
                    <div class="producto-card__imagen-contenedor">
                        <img src="/assets/manzana.png" alt="Manzanas frescas" class="producto-card__imagen">
                    </div>

                    <div class="producto-card__pie">
                        <h3 class="producto-card__titulo">manzana</h3>
                    </div>
                    <div class="producto-card__imagen-contenedor">
                        <img src="/assets/manzana.png" alt="Manzanas frescas" class="producto-card__imagen">
                    </div>

                    <div class="producto-card__pie">
                        <h3 class="producto-card__titulo">manzana</h3>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>

</html>