<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seccion_principal</title> <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
    <section class="hero">
        <div class="hero__imagen-contenedor">
        <img src="/imagenes/hero familia frutal.png" alt="Frutas y verduras frescas" class="hero__imagen">
        <div class="hero__friltro-imagen-contenedor"></div>
    <div class="hero__contenido">
        <h1 class="hero__titulo">"Pide tus frutas y verduras frescas online"</h1>
        <a href="#" class="hero__boton">Explorar productos</a>
        <div class="hero__friltro-contenido"></div>
        </div>
    </div>
    </section>
</body>
</html>